
*{
	box-sizing: border-box;
}

h1{

	text-align: center;
	font-size: 175%;
}

section{
    padding: 10px;
	float: right;
	width: 33.33%;
}

div{

	padding: 2px;
	border: maroon solid 2px ;
}

.title{

	float: right;
	margin-bottom: 5px;
	font-size: 125%;
}

#div1{

	background-color: black;
	color: white;
}
#div2{
	
	background-color: lightgreen;
	color: black;
}
#div3{
	
	background-color: lightpink;
	color: purple;
}

#main{

	background-color: lightgray;
}
p{

	margin : 10px;
	margin-top: 10px ;
	clear: right;
}

@media (max-width : 991px) and (min-width :768px ){

	section#section1{

		width: 50%;
	}
	section#section2{

		width: 50%;
	}
	section#section3{

		width: 100%;
	}
}

@media (max-width : 767px){

	section#section1{

		width: 100%;
	}
	section#section2{

		width: 100%;
	}
	section#section3{

		width: 100%;
	}
}